<div>
    <div class="header">
        <div class="navigation pull-left">
            {{#if model}}
                <ul class="nav nav-pills">
                    {{#if model.isAdmin}}
                        <li>
                            {{#link-to "admin"}}
                                Administrator dashboard
                            {{/link-to}}
                        </li>
                    {{/if}}
                <li>
                    {{#link-to "users"}}
                        Customers
                    {{/link-to}}
                </li>
                <li>  
                        {{#link-to "permissions"}}
                            Permissions
                        {{/link-to}}
                </li>
            </ul>
            {{/if}}
        </div>
        <div class="actions pull-right">
            <ul class="nav nav-pills">
                {{#if model}}
                <li class="text-primary" {{action "logout"}}>
                    <a href>
                        Logout
                    </a>
                </li>
                {{else}}
                    <li class="text-primary">
                        {{#link-to "login"}}
                            Login
                        {{/link-to}}
                    </li>
                {{/if}}
            </ul> 
        </div>
    </div>
    <div class="container">
        <div> 
            <h2>Ember auth smaple application</h2>
            <pre>
                {{model.name}}
                {{model.email}}
            </pre> 
            {{outlet}}
        </div>
    </div>
</div>

